<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <!--<Property name="log-path">${myapp.root}/WEB-INF/logs</Property>-->
        <Property name="log-path">/usr/local/tomcat/logs</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/polaris2.log"
                     filePattern="${archive}/polaris2.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.vsquare.commons.network.interceptor" level="info">
            <AppenderRef ref="RollingFile-Appender" level="info"/>
        </Logger>
        <Logger name="com.vsquare.polaris2" level="info">
            <AppenderRef ref="RollingFile-Appender" level="info"/>
        </Logger>
        <Logger name="com.vsquare.polaris2.core.database.mapper" level="error">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>
